div#footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:8px;
}

body {
	background-color: lightseagreen;
}

/* not working on build? */
p {
	font-family: monospace;
	color: orangered;
}

a {
	color: orangered;
}